{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false,
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "trailingComma": "all"
}
